{{>header}}
    {{> navbar}}
    <div class="row">
        <div class="col-8">

        </div>
        
        <div class="col-4">
            <img src="Assets/img/lock.png" alt="" class="img-thubnail">
        </div>
    </div>
{{>footer}}